<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
	<br>
	<nav th:fragment="navigation">
		<ul class="nav" style="color:blue;font-size:30px;">
			<li class="nav-item"><a class ="nav-link" href="/home">Home</a></li>
			<li class="nav-item"><a class ="nav-link" href="/login">Login</a></li>
			<li class="nav-item"><a class ="nav-link" href="/portfolio">Portfolio</a></li>
			<li class="nav-item"><a class ="nav-link" href="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/home">Logout</a></li>
			<li class="nav-item"><a class="nav-link" href="/stock/searchstock">Search Stock</a></li>			
		</ul>
	</nav>
	<br>
	<p th:text="${client.username}" style="color:white;font-size:20px;"></p>
</body>
</html>