<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
	<br>
	<nav th:fragment="navigation">
		<ul class="nav" style="color:blue;font-size:30px;">
			<li class="nav-item"><a class ="nav-link" href="/home">Home</a></li>
			<li class="nav-item"><a class ="nav-link" href="/login">Login</a></li>
			<li class="nav-item"><a class ="nav-link" href="/portfolio">Portfolio</a></li>
			<li class="nav-item"><a class ="nav-link" href="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/home">Logout</a></li>
			<li class="nav-item"><a class="nav-link" href="/stock/index">All Stocks</a></li>
		</ul>
	</nav>
	<br>
	<h1>Will display stock detail and allow user to buy or sell</h1>
	<p th:text="${stockToDisplay.symbol}" style="color:white;font-size:20px;"></p>
	<p th:text="${stockToDisplay.getProfile().getPrice()}" style="color:white;font-size:20px;"></p>
</body>
</html>