<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title>Open Trading</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	
	<nav th:fragment="navigation">
		<ul class="nav" style="color:blue;font-size:30px;">
			<li class="nav-item"><a class ="nav-link" href="/home">Home</a></li>
			<li class="nav-item"><a class ="nav-link" href="/login">Login</a></li>
			<li class="nav-item"><a class ="nav-link" href="/about">About</a></li>
		</ul>
	</nav> 

<!-- 	<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-primary">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto" style="color:white;font-size:25px;">
				<li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav> -->
</body>

</html>